body {
    background: url("img/gaming-pattern.png");
}

.logo {
    font-family: 'Lexend Zetta', sans-serif;
}
  
.logo a {
    color: rgba(0,0,0,.9);
}
  
.logo a:hover,
.logo a:active {
    text-decoration: none;
}